
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="sitename">Nguyễn Hùng SG</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Chủ sở chính:</p>
                    <p>1C/6/3A Đường 22 Phường Phước Long B, Quận 9, Tp.Thủ Đức, Tp.HỒ Chí Minh</p>
                    <p class="mt-3"><strong>Phone:</strong> <span>+84 96958158</span></p>
                    <p><strong>Email:</strong> <span>phihung589@gmail.com</span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Lĩnh vực hoạt động</a></li>
                    <li><a href="#">Dự án</a></li>
                    <li><a href="#">Quan hệ cổ đông</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">NguyenHungSG</strong> <span>All Rights Reserved</span></p>
    </div>
