@inherits LayoutComponentBase

<body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
            <NavMenu />
    </header>
      @Body
    <footer id="footer" class="footer dark-background">
        <Footer />
    </footer>
   </body>
    