@page "/about"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Giới thiệu</PageTitle>


<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>Giới Thiệu</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/" @onclick="HomePage">Trang Chủ</a></li>
                    <li class="current">Giới Thiệu</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="assets/img/about.svg"></div>

                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="inner-title"></h2>
                    <div class="our-story">
                        <h3>VỀ CHÚNG TÔI</h3>
                        <p>XÂY DỰNG NGUYỄN HÙNG SG được thành lập bởi đội ngũ nhân sự là các Kỹ sư có năng lực chuyên môn cao, nhiều năm kinh nghiệm trong lĩnh vực chuyên môn. Với cam kết mang lại những công trình chất lượng, chúng tôi đã luôn nỗ lực không ngừng để đáp ứng mọi yêu cầu của khách hàng, từ các dự án quy mô nhỏ đến những dự án lớn có yêu cầu kỹ thuật cao.</p>
                        <h4>Chúng tôi cam kết:</h4>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Sử dụng những vật liệu xây dựng tốt nhất để đảm bảo sự bền vững cho mỗi công trình.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Tuân thủ nghiêm ngặt các quy định về an toàn lao động.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Cung cấp dịch vụ hậu mãi chuyên nghiệp, đáp ứng nhanh chóng mọi nhu cầu của khách hàng.</span></li>
                        </ul>
                        <p>Chúng tôi luôn tin rằng sự hài lòng của khách hàng chính là động lực lớn nhất để chúng tôi không ngừng phấn đấu và hoàn thiện.</p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /About Section -->
    <!-- Stats Counter Section -->
    <section id="stats-counter" class="stats-counter section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>
                Thống kê
            </h2>
            <p>Tại Nguyễn Hùng SG Construction, chúng tôi luôn đặt chất lượng và sự hài lòng của khách hàng lên hàng đầu. Dưới đây là những con số ấn tượng thể hiện cam kết và thành quả của chúng tôi qua từng dự án:</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Khách hàng tin cậy</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Dự án hoàn thành</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-headset color-green flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Giờ hỗ trợ dự án</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-people color-pink flex-shrink-0"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Đội ngũ chuyên nghiệp</p>
                        </div>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>

    </section><!-- /Stats Counter Section -->
</main>

@code
{
    private void HomePage() => navigation.NavigateTo("/", true);
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("checkPreloader");
            await JSRuntime.InvokeVoidAsync("PureCounter");

        }
    }
}