@page "/services"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
@rendermode InteractiveServer

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>Services</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Services</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- Services Section -->
    <section id="services" class="services section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Dịch Vụ</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-mountain-city"></i>
                        </div>
                        <h3>
                            Tư Vấn Thiết Kế
                        </h3>
                        <p>Chúng tôi cung cấp dịch vụ tư vấn thiết kế chuyên nghiệp, giúp bạn hiện thực hóa ý tưởng kiến trúc thành những công trình bền vững và thẩm mỹ.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-arrow-up-from-ground-water"></i>
                        </div>
                        <h3>
                            Thi Công Xây Dựng
                        </h3>
                        <p>Đội ngũ thi công giàu kinh nghiệm của chúng tôi cam kết mang đến những công trình chất lượng, đúng tiến độ và an toàn.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-compass-drafting"></i>
                        </div>
                        <h3>
                            Cải Tạo & Sửa Chữa
                        </h3>
                        <p>Dịch vụ cải tạo và sửa chữa của chúng tôi đảm bảo nâng cấp không gian sống và làm việc theo yêu cầu, với chi phí hợp lý.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-trowel-bricks"></i>
                        </div>
                        <h3>Quản Lý Dự Án</h3>
                        <p>Chúng tôi quản lý dự án từ khâu lập kế hoạch đến giám sát thi công, đảm bảo mọi giai đoạn đều diễn ra suôn sẻ và hiệu quả.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-helmet-safety"></i>
                        </div>
                        <h3>Kiểm Định Chất Lượng</h3>
                        <p>Dịch vụ kiểm định chất lượng của chúng tôi giúp đảm bảo công trình của bạn đáp ứng các tiêu chuẩn an toàn và chất lượng cao nhất.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fa-solid fa-arrow-up-from-ground-water"></i>
                        </div>
                        <h3>
                            Tư Vấn Pháp Lý
                        </h3>
                        <p>
                            Chúng tôi cung cấp dịch vụ tư vấn pháp lý trong lĩnh vực xây dựng, giúp bạn giải quyết các thủ tục pháp lý một cách nhanh chóng và chính xác.

                        </p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- /Services Section -->
    <!-- Features Cards Section -->
    <section id="features-cards" class="features-cards section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <h3>
                        Chất Lượng & Uy Tín
                    </h3>
                    <p>
                        Chúng tôi luôn cam kết đem đến những công trình chất lượng cao, được xây dựng với độ chính xác và sự chuyên nghiệp cao nhất. Đội ngũ của Nguyễn Hùng SG luôn đặt uy tín lên hàng đầu, mang đến sự hài lòng cho từng khách hàng.
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check2"></i> <span>Đảm bảo đúng tiến độ.</span></li>
                        <li><i class="bi bi-check2"></i> <span>Cam kết chất lượng vượt trội.</span></li>
                        <li><i class="bi bi-check2"></i> <span>Đội ngũ kỹ thuật lành nghề.</span></li>
                    </ul>
                </div><!-- End feature item-->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <h3>
                        Kinh Nghiệm Lâu Năm
                    </h3>
                    <p>
                        Với nhiều năm kinh nghiệm trong ngành xây dựng, chúng tôi đã thực hiện thành công hàng loạt dự án lớn nhỏ, góp phần kiến tạo nên các công trình bền vững và hiện đại.
                    </p>

                    <ul class="list-unstyled">
                        <li>
                            <i class="bi bi-check2"></i> <span>
                                Hơn 400 dự án đã tham gia.
                            </span>
                        </li>
                        <li><i class="bi bi-check2"></i> <span>Đội ngũ quản lý dự án chuyên nghiệp.</span></li>
                        <li><i class="bi bi-check2"></i> <span>Kinh nghiệm xử lý các dự án phức tạp.</span></li>
                    </ul>
                </div><!-- End feature item-->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <h3>Công Nghệ Hiện Đại</h3>
                    <p>
                        Nguyễn Hùng SG luôn cập nhật và áp dụng công nghệ xây dựng tiên tiến, giúp tối ưu hóa quy trình và nâng cao chất lượng công trình, đảm bảo an toàn và hiệu quả.
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check2"></i> <span>Sử dụng công nghệ xanh.</span></li>
                        <li><i class="bi bi-check2"></i> <span>Trang thiết bị hiện đại.</span></li>
                        <li><i class="bi bi-check2"></i> <span>Quy trình giám sát nghiêm ngặt..</span></li>
                    </ul>
                </div><!-- End feature item-->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <h3>
                        Tận Tâm Với Khách Hàng
                    </h3>
                    <p>Sự hài lòng của khách hàng là mục tiêu hàng đầu của chúng tôi. Nguyễn Hùng SG luôn lắng nghe và hiểu nhu cầu của từng khách hàng, để có thể cung cấp giải pháp tối ưu nhất cho từng dự án.</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check2"></i> <span>Hỗ trợ tư vấn nhiệt tình.</span></li>
                        <li><i class="bi bi-check2"></i> <span>Giải pháp linh hoạt, phù hợp.</span></li>
                        <li><i class="bi bi-check2"></i> <span>Hậu mãi chu đáo và tận tâm.</span></li>
                    </ul>
                </div><!-- End feature item-->

            </div>
        </div>
    </section><!-- /Features Cards Section -->
</main>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("checkPreloader");
        }
    }
}